@page
@model TaskChecklist.Pages.TemplateTasks.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>T04TemplateTask</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.T04TemplateTask.TaskName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.T04TemplateTask.TaskName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.T04TemplateTask.TaskDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.T04TemplateTask.TaskDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.T04TemplateTask.TaskOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.T04TemplateTask.TaskOrder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.T04TemplateTask.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.T04TemplateTask.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.T04TemplateTask.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.T04TemplateTask.UpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.T04TemplateTask.Template)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.T04TemplateTask.Template.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="T04TemplateTask.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
