@page
@model TaskChecklist.Pages.TemplateTasks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>T04TemplateTask</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.T04TemplateTask.TaskName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.T04TemplateTask.TaskName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.T04TemplateTask.TaskDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.T04TemplateTask.TaskDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.T04TemplateTask.TaskOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.T04TemplateTask.TaskOrder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.T04TemplateTask.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.T04TemplateTask.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.T04TemplateTask.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.T04TemplateTask.UpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.T04TemplateTask.Template)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.T04TemplateTask.Template.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.T04TemplateTask.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
