@page
@model TaskChecklist.Pages.TemplateTasks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.T04TemplateTask[0].TaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.T04TemplateTask[0].TaskDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.T04TemplateTask[0].TaskOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.T04TemplateTask[0].UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.T04TemplateTask[0].UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.T04TemplateTask[0].Template)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.T04TemplateTask) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Template.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
