@page
@model TaskChecklist.Pages.Template.IndexModel

@{
    ViewData["Title"] = "List of templates";
}

<h1>@(ViewData["Title"])</h1>

<p>
    <a class="btn btn-primary btn-sm" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Template
            </th>
            <th>
                Active
            </th>
            <th>
                Tasks
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.T03Template)
        {
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">@(item.TemplateName)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @(item.T04TemplateTasks.Count)
                </td>
                <td>
                    <a asp-page="./AddTasks" asp-route-id="@item.Id">Add Tasks</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
